<!-- <p *ngFor="let movement of movementList">
  {{movement.move.name}}
</p> -->
<div class="mainContainer mt mb">
  <h2 class="container-title">Movement's List</h2>
  <hr>
  <div class="mainSection mt">
    <div class="moveListContainer">
      <ul style="padding: 0 10px;" class="listMoves">
        <li (click)="getSingleMove(movement.move.url)" class="single_move" *ngFor="let movement of movementList">{{movement.move.name}}</li>
      </ul>
    </div>
    <div *ngIf="MoveLoaded" style="padding: 0 15px;" class="MovementDescription">
      <h3 class="container-subtitle">{{SingleMove.name}}</h3>
      <p class="MoveDescription">{{finalFlavorText.flavor_text}}</p>
      <p class="movesEffect" *ngFor="let efect of SingleMove.effect_entries">{{efect.effect}}</p>
      <div class="moveStatsSection">
        <div class="MoveStats">
          <strong>Id movement</strong>: {{SingleMove.id}} <br>
          <strong>Cccuracy</strong>:  {{SingleMove.accuracy}} <br>
          <strong>Power</strong>: {{SingleMove.power}} <br>
          <strong>PP</strong>: {{SingleMove.pp}} <br>
          <strong>Effect Chance</strong>: {{SingleMove.effect_chance}} <br>
        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
</div>
