<app-loader *ngIf="Loading"></app-loader>
<div [ngStyle]="{'opacity':Loading ? '0.2' : '1' }" class="pokemonDisplay">
  <div class="displayHeader">
    <h2 class="pokemonName">{{pokemonThumbnail.name}}</h2>
    <h2 >#{{pokemonThumbnail.id}}</h2>
  </div>
  <div *ngIf="!pokemonThumbnail.sprites.front_default" class="emptyFieldMessage">
    Seleccion un pokemon para ver sus especificaciones
  </div>
  <div class="display-content">
    <div *ngIf="pokemonThumbnail.sprites.front_default" class="pokemon_info">
      <strong>tipo(s)</strong>: <span *ngFor="let type of pokemonThumbnail.types">{{type.type.name}} </span> <br>
      <strong>altura</strong>: {{pokemonThumbnail.height}} fts <br>
      <strong>peso</strong>: {{pokemonThumbnail.weight}} lbs <br>
      <strong>Experiencia Base</strong>: {{pokemonThumbnail.base_experience}} <br>
      <strong>Estadisticas</strong>: <br>
      <ul>
        <li *ngFor="let stat of pokemonThumbnail.stats">{{stat.base_stat}}, {{stat.stat.name}}</li>
      </ul>
    </div>
    <div class="pokemon_picture">
      <img class="sprite"  src="{{pokemonThumbnail.sprites.front_default}}" alt="">
    </div>
  </div>
  <div class="buttons-list">
    <i (click)="goToPokemonView(pokemonThumbnail.id)" [hidden]="!pokemonThumbnail.moves[0]" class="material-icons iconbtn icon_green" data-toggle="tooltip" title="Ir a vista del Pokemon">search</i>
  </div>
</div>
