.pokemon_info{
  width: 60%;
}

.display-content{
  display: flex;
  margin-top: 15px;
}
.pokemon_picture{
  width: 40%;
  display: flex;
  justify-content: center;
}
.sprite{
    height: 100%;
}
.emptyFieldMessage{
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
  padding-bottom: 0
}
.pokemonDisplay{
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.125);
  transition: 0.3s all;
  position: relative;
}
.displayHeader{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.iconbtn{
  padding: 5px;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 2px 1.25px 1.25px rgba(0,0,0,0.1);
  transition: 0.3s all;
  &:hover{
    box-shadow: 1px 2px 4px 4px rgba(0,0,0,0.11);
    color: white;
    cursor: pointer;
    background: #337AB7;
  }
}

.buttons-list{
text-align: right;
}
